<div class="row">
  <div class="col-12 col-md-8">
    <%= cl_image_tag @flat.photos.first.key, crop: :fill, class: 'img-fluid mb-3' %>

    <h1><%= @flat.title %></h1>
    <h5><%= @flat.location %></h5>
    <p><%= @flat.description %></p>
    <p>Host: <%= @flat.user.username %></p>
  </div>

  <%= render 'bookings/form', flat: @flat, booking: @booking %>
</div>
